{
    "getAllItemsFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    },
    "getByIdFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    },
    "putItemFunction": {
        "CALCULATION_QUEUE": "<SQS-QUEUE-NAME>"
    },
    "writeItemFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    }
}
