{
    "getAllCalculationsFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    },
    "getCalculationByIdFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    },
    "writeItemFunction": {
        "CALCULATIONS_TABLE": "<TABLE-NAME>"
    }
}
